<html>
  <head><title>TFaaS - Table Flipping as a Service</title></head>
  <body>
    <h1>TFaaS - Table Flipping as a Service</h1>
    <p>This simple sinatra app returns various table flipping emoji as found on 
    <a href="http://emojicons.com/table-flipping">emojicons.com</a></p>
    <h2>Use</h2>
    <p>Simply make a <code>GET</code> request to <code>http://table-flip.herokuapp.com/[desired flip]</code> and a string will be returned of your emoji table flip.</p>
    <h3>Available Flips</h3>
    <ul>
      <li><code>/flipping</code> - the classic</li>
      <li><code>/flipping/<WORD></code> - flip a word of your choice</li>
      <li><code>/patience</code> - no flip</li>
      <li><code>/pudgy</code> - fat flip</li>
      <li><code>/battle</code> - fight to flip</li>
      <li><code>/me</code> - the table's revenge</li>
      <li><code>/aggravated</code> - FFFUUUUUU</li>
      <li><code>/putback</code> - peace at last</li>
      <li><code>/dude</code> - no tables nearby</li>
      <li><code>/emotional</code> - I know that feel, bro</li>
      <li><code>/freakout</code> - screw this game!</li>
      <li><code>/hercules</code> - RAWR!</li>
      <li><code>/jedi</code> - flip or flip not, there is no try</li>
      <li><code>/bear</code> - but this table flipped just right</li>
      <li><code>/magical</code> - not just an illusion</li>
      <li><code>/robot</code> - all the good table flipping jobs...</li>
      <li><code>/russia</code> - in Soviet Russia table flip you</li>
      <li><code>/happy</code> - all smiles</li>
    </ul>
  </body>
</html>

